{% extends "layout.html" %}
{% block content %}
<!-- Subhead
================================================== -->
<!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>金钱夜未眠</h1>
        <p>钱是有腿、有性格的、也是有气味的。因为钱心跟着人心走。钱是是非地，是是非人玩的是非物。这是迄今为止，我见过的对钱最市井却也是最精辟的总结</p>
        <p><a href="/loan_items" class="btn btn-primary btn-large">10%收益产品</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>P2P理财是什么</h2>
          <p>P2P（Peer to Peer）贷款，就是根据银监会与小额信贷联盟的公文，中文官方翻译为“人人贷“。简单地说，就是有资金并且有理财投资想法的个人，通过有资质的中介机构牵线搭桥，使用信用贷款的方式将资金贷给其他有借款需求的人。其中，中介机构负责对借款方的经济效益、经营管理水平、发展前景等情况进行详细的考察，并收取账户管理费和服务费等收入 </p>
          <p><a class="btn" href="http://baike.baidu.com/view/3403641.htm">了解更多</a></p>
        </div>
        <div class="span4">
          <h2>高收益保障</h2>
          <p>9%~15%收益率，比较高但不是最高。高收益永远伴随着高风险，而过高的融资成本会推高总体的风险，我们筛选出的都是靠谱的融资需求，所以收益率同样靠谱 </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <!-- <h2>安心理财</h2> -->
          <p><img src="/static/img/f_compare.jpg" /></p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>
{% endblock %}